

ul li {
		list-style :none;
		float:left;
		width:20px;
		text-align:center;
	}
	.li_page {
		list-style: none;
		float:left;
		padding:10px;
		margin:2px;
		border:1px solid blue;
	}
	a{
		text-decoration: none;
	}


