
body {
	width: 400px;
	margin:0 auto;
	border:1px solid blue;
}
label {
	float:left;
	width: 150px;
	text-align: left;
}
input{
		margin-left: 1em;
		margin-bottom:.5em;
	}
	span{
		margin-left: 1em;
		margin-bottom:.5em;
	}
body #content
{
	padding: 10px ;
}

